<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Student with Gre: <%= Gre%>, Toefl: <%= Toefl%>, Gpa: <%= Gpa%>, will get admit: <%= Admit%></p>
  </body>
</html>
